// Styling for the table
table {
    th, td {
        text-align: center;
        vertical-align: middle;
    }

    tr:hover {
        background-color: #f8f9fa;
    }

    .btn {
        margin: 5px;
    }
}

// Styling for pagination
.pagination {
    margin-top: 20px;
}

.page-link {
    color: #007bff;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.page-link:hover {
    background-color: #0056b3;
    color: white;
}
